@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
}

.bg-white-btn {
    background-color: #ffff;
}

.w-32r {
    width: 32rem;
}

.text-32px {
    font-size: 32px;
}

.text-16px {
    font-size: 16px;
}

.text-dark-blue {
    color: hsl(240, 38%, 20%);
}

.text-grayish-blue {
    color: hsl(240, 18%, 77%);
}

.weight-500 {
    font-weight: 500;
}

.w-custom-width {
    width: 32rem;
}